body{
    background-color: aqua;
    
}
glass:hover{
    font-size: larger;
    background-color:brown;
    color: whitesmoke;
}
notebook:hover{
    font-size: larger;
    background-color:brown;
    color: whitesmoke;
}
